In [3]:
#4. Create a list of your favorite movies and print it. Then, append a new movie to the list 
#and print the updated list.


list_a=['anaconda','KGF','PK','Tangled','Forrest Gump']
list_a

['anaconda', 'KGF', 'PK', 'Tangled', 'Forrest Gump']

In [4]:
#5.Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in
#the list and print the result.

list_b=[1,2,3,4,5,6,7,8,9,10]
list_b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
 list_b = sum(list_b)
 list_b

55

In [17]:
#6. Create a list of mixed data types including strings, integers, and floats and print it. Remove
#the first element from the list and print the modified list.

mixed_list=[1,2,3,'apple','pikachu',3.1,3.2]
mixed_list

[1, 2, 3, 'apple', 'pikachu', 3.1, 3.2]

In [18]:
del mixed_list[0]
mixed_list

[2, 3, 'apple', 'pikachu', 3.1, 3.2]

In [19]:
#Create a tuple containing the names of the days of the week and print it. Access and print
#the name of the third day.

days_of_the_week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
days_of_the_week

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [24]:
third_day = days_of_the_week[2]
print("Third day of the week:",third_day)

Third day of the week: Tuesday

In [31]:
#8. Create a tuple of your favorite colors and print it. Check if a certain color is present in the
#tuple and print the result.

favorite_colors = ("pink","green","blue","voilet","peach")
favorite_colors

('pink', 'green', 'blue', 'voilet', 'peach')

In [34]:
color_to_check=("green")
present=color_to_check in favorite_colors
present

True

In [54]:
#9. Create a dictionary representing the information of a book with keys "title", "author", and
#"year" and print it. Update the year of the book and print the updated dictionary.
book_info={"title":"ikigai",
"author":"japenese",
"year":1990}
book_info

{'title': 'ikigai', 'author': 'japenese', 'year': 1990}

In [55]:
book_info["year"] = 2000
book_info

{'title': 'ikigai', 'author': 'japenese', 'year': 2000}

In [56]:
#10. Create a dictionary containing the names of fruits as keys and their corresponding colors
#as values and print it. Add a new fruit-color pair to the dictionary and print the updated
#dictionary.
name_of_fruits={"apple":"red","avocado":"green","drag":"pink","grapes":"green"}
name_of_fruits

{'apple': 'red', 'avocado': 'green', 'drag': 'pink', 'grapes': 'green'}

In [57]:
name_of_fruits["blue berry"]="blue"
name_of_fruits

{'apple': 'red',
 'avocado': 'green',
 'drag': 'pink',
 'grapes': 'green',
 'blue berry': 'blue'}

In [68]:
#11. Create a dictionary representing the population of different cities with keys as city names
#and values as population numbers and print it. Remove a city from the dictionary and print
#the modified dictionary.
city_populations = {
    "New York": 8336817,
    "Los Angeles": 3979576,
    "Chicago": 2693976,
    "Houston": 2320268,
    "Phoenix": 1680992
}
city_populations

{'New York': 8336817,
 'Los Angeles': 3979576,
 'Chicago': 2693976,
 'Houston': 2320268,
 'Phoenix': 1680992}

In [72]:
city_to_remove = "Phoenix"
if city_to_remove in city_populations:
    del city_populations[city_to_remove]
    print(f"\n'{city_to_remove}' has been removed from the dictionary.")


print(city_populations)

{'New York': 8336817, 'Los Angeles': 3979576, 'Chicago': 2693976, 'Houston': 2320268}